{% extends 'base.html.twig' %}
{% block body %}

	<h1>Bienvenue en discothèque</h1>
	<h2>
		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae iure voluptatem. Consequuntur omnis animi praesentium, commodi reiciendis, excepturi harum, placeat tempore assumenda pariatur nisi a aperiam labore unde ducimus!</div>
		<div>Ipsa error repellat necessitatibus quidem quaerat officiis non sit enim natus rerum facere ad itaque harum optio, eligendi voluptatum laboriosam voluptate animi corporis accusantium blanditiis similique! Laudantium suscipit culpa ullam.</div>
		<div>Esse nulla, cumque non ipsam eligendi quod minus voluptatem illum expedita aliquam veniam repudiandae labore tempore eius, architecto reiciendis odio numquam dolorum earum doloremque culpa! Laboriosam consequatur incidunt ad itaque.</div>
		<div>Magni labore asperiores at veritatis provident velit id error quam vitae modi! Illo possimus dolores labore, magnam mollitia adipisci, porro deserunt repudiandae nostrum nisi laboriosam consequuntur atque. Esse, veritatis minus?</div>
	</h2>

{% endblock %}
